/.apt_generated/
/output/
/.toolkitList
/bin/
impl/lib
build
com.ibm.streamsx.kafka/*
!com.ibm.streamsx.kafka/Types.spl
!com.ibm.streamsx.kafka/Functions.spl
!com.ibm.streamsx.kafka/namespace-info.spl
opt
