---
layout: default
---

<div class="home">

  <h1>What's New</h1>

  <ul>
    <li>Kafka v1.2.0 released!</li>
  </ul>

  <h1>Releases</h1>

  <h2>v1.2.0 (Latest)</h2>
  <ul>
    <li><a href="docs/v1.2.0/spldoc/html/index.html">Toolkit Documentation (SPLDoc)</a></li>
    <li>Binary Download: <a href="https://github.com/IBMStreams/streamsx.kafka/releases/download/v1.2.0/com.ibm.streamsx.kafka-1.2.0.tgz">com.ibm.streamsx.kafka-1.2.0.tgz</a> - (<a href="https://github.com/IBMStreams/streamsx.kafka/releases/download/v1.2.0/com.ibm.streamsx.kafka-1.2.0.tgz.MD5">md5</a>)
    <li>Source Download: <a href="https://github.com/IBMStreams/streamsx.kafka/archive/v1.2.0.tar.gz">v1.2.0.tar.gz</a>
  </ul>


  <h2>v1.1.1 (Latest)</h2>
  <ul>
    <li><a href="docs/v1.1.1/spldoc/html/index.html">Toolkit Documentation (SPLDoc)</a></li>
    <li>Binary Download: <a href="https://github.com/IBMStreams/streamsx.kafka/releases/download/v1.1.1/com.ibm.streamsx.kafka-1.1.1.tgz">com.ibm.streamsx.kafka-1.1.1.tgz</a> - (<a href="https://github.com/IBMStreams/streamsx.kafka/releases/download/v1.1.1/com.ibm.streamsx.kafka-1.1.1.tgz.MD5">md5</a>)
    <li>Source Download: <a href="https://github.com/IBMStreams/streamsx.kafka/archive/v1.1.1.tar.gz">v1.1.1.tar.gz</a>
  </ul>

  <h2>v1.0.0</h2>
  <ul>
    <li><a href="docs/v1.0.0/spldoc/html/index.html">Toolkit Documentation (SPLDoc)</a></li>
    <li>Binary Download: <a href="https://github.com/IBMStreams/streamsx.kafka/releases/download/v1.0.0/com.ibm.streamsx.kafka-1.0.0.tgz">com.ibm.streamsx.kafka-1.0.0.tgz</a> - (<a href="https://github.com/IBMStreams/streamsx.kafka/releases/download/v1.0.0/com.ibm.streamsx.kafka-1.0.0.tgz.MD5">md5</a>)
    <li>Source Download: <a href="https://github.com/IBMStreams/streamsx.kafka/archive/v1.0.0.tar.gz">v1.0.0.tar.gz</a>
  </ul>

  <h1>Articles</h1>

  <ul>
    <li><a href="https://developer.ibm.com/streamsdev/docs/introducing-kafka-toolkit/">Introducing the Kafka Toolkit</a></li>
  </ul>

  <h1>Samples</h1>

  <ul>
    <li><a href="https://github.com/IBMStreams/streamsx.kafka/tree/develop/samples/KafkaAppConfigSample">KafkaAppConfigSample</a></li>
    <li><a href="https://github.com/IBMStreams/streamsx.kafka/tree/develop/samples/KafkaAttrNameParamsSample">KafkaAttrNameParamsSample</a></li>
    <li><a href="https://github.com/IBMStreams/streamsx.kafka/tree/develop/samples/KafkaBlobSample">KafkaBlobSample</a></li>
    <li><a href="https://github.com/IBMStreams/streamsx.kafka/tree/develop/samples/KafkaConsumerLoadSample">KafkaConsumerLoadSample</a></li>
    <li><a href="https://github.com/IBMStreams/streamsx.kafka/tree/develop/samples/KafkaFloatSample">KafkaFloatSample</a></li>
    <li><a href="https://github.com/IBMStreams/streamsx.kafka/tree/develop/samples/KafkaIntegerSample">KafkaIntegerSample</a></li>
    <li><a href="https://github.com/IBMStreams/streamsx.kafka/tree/develop/samples/KafkaProducerCustomPartitioner">KafkaProducerCustomPartitioner</a></li>
    <li><a href="https://github.com/IBMStreams/streamsx.kafka/tree/develop/samples/KafkaPublishToPartitionSample">KafkaPublishToPartitionSample</a></li>
    <li><a href="https://github.com/IBMStreams/streamsx.kafka/tree/develop/samples/KafkaSample">KafkaSample</a></li>
    <li><a href="https://github.com/IBMStreams/streamsx.kafka/tree/develop/samples/KafkaClientIdSample">KafkaClientIdSample</a></li>
    <li><a href="https://github.com/IBMStreams/streamsx.kafka/tree/develop/samples/KafkaConsumerInputPortSample">KafkaConsumerInputPortSample</a></li>
  </ul>

</div>
